/* Footer */
#footer {
  background-color: var(--secondary-color);
}

#footer .footer-text {
  font-family: "Aller-Regular";
  font-size: 18px;
  font-weight: 100;
  line-height: 1.4;
}

#footer .footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

#footer .footer-logo img {
  width: 120px;
  height: 40px;
}

#footer .footer-blog .footer-blog-img {
  width: 80px;
  height: 72px;
  margin-bottom: 10px;
  border-radius: 2px;
  margin-right: 15px;
}

#footer .footer-blog-item {
  display: flex;
}

#footer .footer-blog-date {
  font-family: "Aller-Regular";
  font-size: 18px;
}

#footer .footer-input {
  font-size: 16px;
  font-family: "Aller-Regular";
  border: none;
  width: 322px;
  height: 32px;
  padding: 10px;
}

#footer .footer-input:focus {
  outline: none;
}

#footer .footer-line {
  border: 1px #fff solid;
}

#footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer .footer-news-letter-container {
  width: 100%;
}

#footer .footer-info .footer-info-text {
  font-family: "Aller-Regular";
}

#footer .footer-info .socials img {
  width: 28px;
  height: 28px;
}
