/* Navbar */
#navbar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 55;
  transition: 0.5s;
}

#navbar .navbar-logo {
  cursor: pointer;
}

#navbar .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

#navbar .nav-item {
  display: flex;
  flex-direction: row;
}

#navbar .nav-item li {
  margin: 0 30px;
}
