@font-face {
  font-family: "Aller-Regular";
  src: local("Aller-Regular"), url(../Aller_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Aller-Bold";
  src: local("Aller-Bold"), url(../Aller_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../Montserrat-Bold.otf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

:root {
  --primary-color: #b22026;
  --secondary-color: #7c131b;
  --light-color: #fff;
}

body {
  font-family: "Aller-Bold";
  background-color: #0e0e0e;
  color: #fff;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Hero */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(32, 32, 32, 0.6) 0%,
    #0e0e0e 100%
  );
}

.hero * {
  z-index: 10;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px 20px;
}

.hero .text {
  font-family: "Aller-Regular";
  font-weight: normal;
  line-height: 2;
}

@import "./_navbar.css";
@import "./_footer.css";
@import "./_common.css";
@import "./_grid.css";
@import "./_home.css";
@import "./_industries.css";
@Import "./_mobile.css";
